/* 初期化 */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{text-decoration:none}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%}body{text-align:left;word-wrap:break-word;overflow-wrap:break-word;font-size:1.7rem;font-weight:500;line-height:1.2;letter-spacing:.02em;min-width:960px}.container{margin:auto;width:86%;min-width:960px;max-width:1180px}a{text-decoration:none;color:inherit}img{height:auto;vertical-align:bottom}iframe,img{max-width:100%}.separator a{margin-left:0!important;margin-right:0!important}.separator a,.separator img{display:inline-block}.section{margin:0}.widget ol,.widget ul{padding:0}.widget-content li{list-style-type:none}.widget .post-body ol,.widget .post-body ul{padding-left:2em;padding-right:0}.Header h1{margin-bottom:0}.status-msg-wrap{margin:0}.status-msg-body{text-align:left}.status-msg-border{border:0}.status-msg-bg{background:0}.gsc-search-box{margin-bottom:0!important}table.gsc-search-box{background:#fff;border-radius:18px;max-width:16em}input.gsc-search-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0 .8em;border:0;outline:0;margin-left:0!important;border-radius:18px;font-weight:700;height:2.5em;font-size:14px;cursor:pointer}.gsc-input{padding-right:0!important}input.gsc-input{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0 1em;border:0;outline:0;background:#fff;border-radius:18px;height:2.5em;font-size:14px;width:100%}.cloud-label-widget-content{text-align:left}.label-size{font-size:80%!important;opacity:1!important;display:inline-block}@media(max-width:768px){body{font-size:1.6rem;min-width:0}.container{width:96%;min-width:0}.twitter-timeline{width:770px!important}}@media(max-width:480px){#main.width-100 .container{width:100%}.width-100 #sub-content,.width-100 .breadcrumbs{width:96%;margin-right:auto;margin-left:auto}}

/* 変数の宣言 */
:root{
    --main-color: #aeddcd;
    --main-font: #ffffff;
    --sub-color: #000000;
    --sub-font: #000000;
}

/* 2カラム設定 */
#main-inner{
    display: flex;
}
#main-content{
    margin-right: 30px;
    width: calc(100% - 346px);
    flex-shrink: 0;
    }
#sub-content{
    margin-top: 30px;
    width: 316px;
    flex-shrink: 0;
}
@media ( max-width : 768px ) {
    #main-inner{
        display: block;
    }
    #main-content{
        margin-right: 0;
        width: 100%;
    }
    #sub-content{
        width: 100%;
    }
}

/* ヘッダー */
header{
    background: var(--main-color);
    color: var(--main-font);
}
#header-inner{
    padding: 1em 0 1em 0;
    width:100%
}
header a{
    color: inherit;
}
#header-title{
    font-size: 130%;
    font-weight: bold;
}
#header-text{
    font-size: 80%;
    font-weight: bold;
}

/* メニュー */
#menu{
    background:#000;
    font-size:1.2em;
    line-height:1;
    margin:10px 0 0;
    text-align:center;
    bottom:0;left:0;
    width:100%
}
nav li{
    display:inline-block; /* 横並び */
    position:relative; /* サブメニュー表示位置の基準 */
    height:2em;line-height:2em; /* メニュー高さ */
}
nav li a,nav li span{
    color:#fff;
    display:block;
    padding:0 5px;
    text-decoration:none
}
nav li a:hover,nav li span:hover{
    text-decoration:none
}
/* サブメニュー */
.sub-menu{
    background:#fff;
    position:absolute;
    width:180px; /* サブメニュー幅 */
    z-index:20
}
.sub-menu li{
    display:block; /* 横並びをリセット */
    visibility:hidden; /* 隠す */
    overflow:hidden; /* 隠す */
    height:0; /* 隠す */
    width:100%
}
.sub-menu li a{
    border-bottom:1px solid;
    color:#000
}
.sub-menu li a:hover{
    background:rgba(185,225,216,.8);
    color:#000
}
nav li:hover .sub-menu li{
    visibility:visible;
    overflow:visible;
    height:3em;line-height:3em; /* サブメニュー高さ */
    transition: .5s
}
#open{display:none}

/* メイン */


/* サブ */

/* スマホ、タブレット用横幅480pxで切り替え */
@media screen and (max-width: 480px){
    body{
        font-family:Verdana,Roboto,'游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
        font-size:1.3em
    }
    header{
        border-bottom:5px solid #000;
        min-width:100%
    }
    h1{
        min-height:40px;
        padding-right:60px
    }
    #index h1{
        min-height:inherit;
        padding-right:0
    }
    #contents{
        height:auto;width:100%
    }
    footer{
        position:absolute;
        min-width:100%
    }
    #fl a{
        background:#000;
        border-radius:5px;
        color:#fff;
        padding:5px
    }
    #fl a:hover{
        color:#b9e1d8
    }
    input,textarea{
        width:200px
    }
    dt{float:none;clear:none;width:auto}
    dd{margin-left:20px}
    img{max-width:100%;height:auto} /* 画像の縮小表示 */
    /* スマホ、タブレット用メニュー*/
    /* メニュー */
    #menu{
        background:rgba(0,0,0,.8);/* メニューの背景色 */
        margin:0;
        display:none;
        bottom:inherit;
        text-align:left;
        z-index:20
    }
    nav li{
        display:block; /* 横並び解除 */
        height:auto;line-height:inherit /* 高さリセット */
    }
    nav > ul > li+li:before{
        content:none
    }
    nav li a,nav li span{
        display:block;
        position:relative;
        padding:15px 20px /* リンクの余白 一列の高さはここで調節 */
    }
    nav li a:hover,nav li span:hover{
        background:rgba(185,225,216,.8);
        color:#000
    }
    /* サブメニュー */
    .sub-menu{
        background:none;
        position:static;
        display:none; /* 隠す */
        width:100%;
        z-index:auto
    }
    .sub-menu li{
        display:inline-block;/* 一列ごとにするならここを削除 */
        visibility:visible; /* リセット */
        overflow:visible; /* リセット */
        height:auto; /* 高さリセット */
        width:50% /* 一列ごとにするならここを削除 */
    }
    .sub-menu li a{
        border-bottom:0;
        color:#fff
    }
    .sub-menu li a:after{
        display:none
    }
    nav li:hover .sub-menu li{
        height:auto;line-height:inherit /* 高さリセット */
    }
    nav li span:after{
        border-top:3px solid #fff;/* メニュー「>」の色 */
        border-right:3px solid #fff;/* メニュー「>」の色 */
        content:"";
        display:block;
        margin-top:-5px;
        position:absolute;
        top:50%;right:20px;
        height:5px;width:5px;
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
        transition:.2s
    }
    nav li span.open:after{
        -ms-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg)
    }
    /* メニューを開くボタン */
    #open{
        background:rgba(0,0,0,.8);
        border:3px solid #fff;
        border-radius:20px;
        box-shadow:0 1px 5px #000;
        display:inline-block;
        position:absolute;
        height:40px;width:40px;/* 大きさ */
        top:10px;right:20px/* 位置 */
    }
    #open-icon,#open-icon:before,#open-icon:after{
        background:#b9e1d8 /* 線の色 */
    }
    #open-icon{display:block;margin:-1px 0 0 -10px;position:absolute;top:50%;left:50%;height:2px;width:20px}
    #open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
    #open-icon:before{margin-top:-8px}
    #open-icon:after{margin-top:6px}
    #open .close{background:transparent}
    #open .close:before,#open .close:after{margin-top:0}
    #open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
    #open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
}