<!DOCTYPE html>
<html lang="ja">
    {% include head.html %}
    <body>
        {% include header.html %}
        <article>
            <div class="content">
                <div class="content-inner">
                    {{ content }}
                </div>
            </div>
        </article>
        {% include footer.html %}
        <div id="add">
            <div class="pagetop"><a href="#" id="pagetop-a"></a></div>
        </div>
        <script src="/assets/js/default.js"></script>
        {% if pagejs_files %}
        {% for js_file in page.js_files %}
        <script src="{{ '/assets/js/' | append: js_file | append: '.js' | relative_url }}" rel="stylesheet"></script>
        {% endfor %}
        {% endif %}
    </body>
</html>
